body {
  margin: 0;
  background-image: url("bg.png");
  background-color: white;
  color: white;
  font-family: "Proxima Nova", sans-serif;
}

.row {
  /* border: 1px solid blue; */
}

.col {
  /* border: 1px solid red; */
}

.container {
  /* border: 1px solid white; */
}

.discover-btn {
  font-weight: 700;
  font-size: 1.4rem;
  width: 188px;
  height: 54px;
  left: 1456px;
  top: 613px;
  background: #FFEF00;
  box-shadow: 0px 4px 60px 7px rgba(255, 239, 0, 0.25);
  border-radius: 5px;
  border: none;
}

.discover-btn:hover {
  background: black;
  color: white;
  box-shadow: 0px 4px 60px 7px rgba(255, 239, 0, 0.00);
}

.main-container {
  padding: 5% 0 0 0;
}

.nav-link {
  font-size: 1.4rem;
}

#home-nav-link {
  color: #FFEF00;
}

#nav-item {
  padding: 0 0 0 1.2rem;
}

#nav-item-text {
  color: white;
}

.main-content {
  text-align: right;
  /* border: 1px solid red; */
  padding-top: 14%;
}

.first-column {
  padding: 0;
}

.navbar-container {
  padding: 0;
}

.main-text {
  margin-bottom: 2%;
}

@media screen and (max-width: 1080px) {
  .main-content {
    text-align: center;
  }
}

.navbar-container  {
  padding: 2% 15% 0 15%;
}
